/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing Font */
@font-face {
  font-family: "Space Boards";
  src: url("/assets/fonts/Space Boards.otf");
}

.font-spaceboards {
  font-family: "Space Boards";
}

/* TEST ZONE STARTS */
html {
  background-color: #000;
  color: #fff;
}
/* TEST ZONE ENDS */

/* Text Shadow */
@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

/* Text Strokes */
.text-stroke-color {
  -webkit-text-stroke-color: #120F22;
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
}
.text-stroke-0 {
  -webkit-text-stroke-width: 0;
}
.text-stroke-2 {
  -webkit-text-stroke-width: 2px;
}
.text-stroke-4 {
  -webkit-text-stroke-width: 4px;
}
.text-stroke-8 {
  -webkit-text-stroke-width: 8px;
}

/* CUSTOM TRACKING */
.tracking-scroll {
  letter-spacing: 0.5em;
}
